<!DOCTYPE html>
<html lang="en" ng-app="main">

<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="web_author" content="Cribz Inc">
    <meta name="Company" content="The Haven - NHS"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="2 days">
    <meta name="copyright" content="Cribz Inc">
    <meta name="language" content="English">
    <meta name="keywords"
          content="questionnaire, questionnaires"/>
    <meta name="robots" content="index,follow">
    <meta id="metaDescr" name="description"
          content="...">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta id="ogTitle" property="og:title" content="The Haven - NHS">
    <meta id="ogImg" property="og:image" content="https://www.The Haven - NHS.com/img/card-730.jpg"/>
    <meta id="ogDescr" property="og:description"
          content="Access reliable data on the Nigerian consumer, track brands and consumption in Nigeria. The Haven - NHS conducts surveys and publishes comprehensive data reports and in-depth analysis on the Nigerian consumer market behaviour.">
    <meta id="ogUrl" property="og:url" content="https://www.The Haven - NHS.com">
    <meta property="og:site_name" content="https://www.The Haven - NHS.com">

    <meta name="robots" content="all"/>

    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="revisit-after" content="0 days">
    <meta name="copyright" content="Cribz Inc">
    <meta name="language" content="english">
    <meta name="reply-to" content="info@thehaven-nhs.com">
    <meta http-equiv="Cache-control" content="private">
    <link rel="canonical" href="https://www.The Haven - NHS.com">
    <meta name="google" content="nositelinkssearchbox"/>
    <title>The Haven - NHS</title>
    <link rel="canonical" href="https://www.The Haven - NHS.com">

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="indexCtr" ng-cloak=""
      ng-class="">
<div class="head-cover">
    <header class="navbar noMarginbelow" ng-if="!$state.includes('user')" role="banner">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-10 col-lg-10 col-sm-10 theme-white">
                    <a class="navbar-brand" ui-sref="default">
                        <img src="img/new/logo.png" class="logo" alt="logo">
                    </a>
                    <div class="navbar-header theme-bg">
                        <button class="navbar-toggle stayAfloat mobile-menu" type="button" data-toggle="collapse"
                                data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="ion-android-menu"></span>
                        </button>
                    </div>
                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-left " id="mainMenu">

                            <li class="dropdown"
                                ng-class="{'active' : $state.includes('about')}">
                                <a class="linker"
                                   ui-sref="about">
                                    <div id="track" class="dropdown-Menu navtab"
                                    >Home
                                    </div>
                                </a>

                            </li>

                            <li class="dropdown"
                                ng-class="{'active' : $state.includes('search')}">
                                <a id="cartLink"
                                   ui-sref="search"
                                   class="linker" >
                                    <div id="report" class="dropdown-Menu navtab" class="git"  >
                                      <!-- <a href="contact-form/contact.html"></a>--> Get in Touch 
                                    </div>
                                </a>

                            </li>
                            <li class="dropdown"
                                ng-class="{'active' : $state.includes('methodology')}">
                                <a class="linker" ui-sref="methodology">
                                    <div id="" class="dropdown-Menu navtab">
                                        Gallery
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 theme-white">
                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right " id="mainRight">

                            <li class="dropdown"
                                ng-class="{'active' : $state.includes('about')}">
                                <a class="linker"
                                   ui-sref="about">
                                    <div id="stay" class="dropdown-Menu navtab"
                                    >Book your stay
                                    </div>
                                </a>

                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="rulera"></div>
    <div id="presentationData">
        <div id="welcome">
            Welcome To
        </div>
        <div id="nameTag">
            The Haven
        </div>
    </div>
</div>

<div class="bodyBag">

    <div>
        <ui-view>
        </ui-view>

    </div>
</div>

<!-- ##### All Javascript Files ##### -->
<script src="js/jquery.min.js"></script>

<script type="text/javascript" language="javascript" src="js/angular.min.js"></script>
<script type="text/javascript" language="javascript" src="js/angular-cookies.min.js"></script>
<script type="text/javascript" language="javascript" src="js/angular-resource.min.js"></script>
<script type="text/javascript" language="javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jssor.core.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jssor.utils.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jssor.slider.min.js"></script>

<script type="text/javascript" language="javascript" src="js/morris.min.js"></script>
<script type="text/javascript" language="javascript" src="js/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="js/googleLinesLoader.min.js"></script>
<script type="text/javascript" language="javascript" src="js/directive.min.js"></script>
<!-- Bootstrap js -->

<script src="js/bootstrap.min.js"></script>

<script src="js/factory.min.js"></script>
<script src="js/active.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
</body>

</html>
